.chart-container {
    margin: 20px; /* Add margin for spacing */
  }
  
  .pie-chart {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .bar-chart {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .chart-label {
    color: white;
    margin-top: 10px;
  }