.heading{
    height: 15vh;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.website-logo {
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom:20px ;
    font-size:3rem;

  color:white;
  font-family: 'Merienda', cursive;
  animation-name:Webiste;
  animation-duration:1s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
}

@keyframes Webiste{
  from{text-shadow:0px 0px 5px #fff,0px 0px 5px #614ad3;}
  to{text-shadow:0px 0px 20px #fff,0px 0px 20px #614ad3;}
}
.loginsignup{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }
  
  .loginButton,
  .signupButton {
    padding: 10px 20px;
    margin: 5px;
    margin-top: 0px;
    background-color: white;
    border: 2px solid #ffffff; /* You can customize the border color */
    border-radius: 20px; /* You can adjust the border radius */
    cursor: pointer;
    font-size: 16px;
    color: #333; /* You can set the text color */
    text-decoration: none;
  }
  
  .loginButton:hover,
.signupButton:hover {
  background-color: #333;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); /* Add glow effect */
  transform: scale(1.1); /* Increase size on hover */
}
.userProfile {
    display: flex;
    /* margin: 5px; */
    align-items: center;
    margin-right: 20px;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Create a circular avatar */
    margin-right: 10px;
    object-fit: cover; /* Ensure the image covers the entire container */
  }
  
  .userName {
    font-size: 20px;
    color: white;
  }
  