.nav {
    color: white;
  }
  
  .website-logo {
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom:20px ;
  }
  
  .nav-items {
    /* margin-top: 40px; */
    margin: 0%;
    align-items: center;
  }
  
  /* Style for all buttons */
  .dashboard,
  .features,
  .subscription,
  .setting,
  .logout {
    
    width: 200px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* margin-left: 50px; */
    margin-bottom: 20px;
    background-color: black; /* Button background color */
    color: #ffffff; /* Button text color */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px; /* Optional: Add rounded corners */
  }
  
.dashboard:hover,
.features:hover,
.subscription:hover,
.setting:hover,
.logout:hover { 

    background-color: gray; /* Change color on hover */
  }
  
  .dashboard svg,
  .features svg,
  .subscription svg,
  .setting svg,
  .logout svg {
    margin-right: 10px;
  }
  